/* Bars for mobile */
/* Arranged top to bottom*/
.left-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4vh;
}
.left-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 4vh;
    left: 0;
    width: 100vw;
    height: 4vh;
}
.center-white {
    background-color: whitesmoke;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.right-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 96vh;
    left: 0;
    width: 100vw;
    height: 2vh;
}
.right-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 98vh;
    left: 0;
    width: 100vw;
    height: 2vh;
}
.smap-background {
  visibility: hidden;
}
/*Bars for desktop*/
@media (min-width: 769px) {
  .left-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
	  left: 0;
	  width: 14vw;
	  height: 100vh;
  }
  .left-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 14vw;
    width: 4vw;
    height: 100vh;
  }
  .right-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 92vw;
    width: 4vw;
    height: 100vh;
  }
  .right-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 96vw;
    width: 4vw;
    height: 100vh;
  }
  
  /*Site map content background*/
  .smap-background {
    visibility: visible;
    background: linear-gradient( #91eafa, #a1dee9, #589edb);
    border-radius: 0.5rem;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: -0.2%;
    width: 13.9vw;
    height: 28%;
  }
  
}

  