.contents-table {
    visibility: hidden;
    height: 0;
    width: 0;
}

.contents-table-mobile {
    visibility: visible;
	background: linear-gradient( #91eafa, #a1dee9, #589edb);
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position: fixed;
	z-index: 3;
	text-align: center;
    margin: 15px;
    top: 43.5%;
    left: 20vw;
    right: 17vw;
	width: auto;
	height: 40vh;
	max-height: 40vh;
	flex-direction: column;
	direction: ltr;
    overflow-y: scroll;
    font-family: Verdana, sans-serif, system-ui;
}
.contents-table-mobile ul {
    background: none;
    position: relative;
    padding-left: 0%;
    left: 0%;
    top: 0%;
    max-height: 61vh;
    list-style-type: none;
}
.contents-table-mobile li {
    padding-bottom: 4%;
    white-space: nowrap;
	overflow: hidden;
    color: whitesmoke;
	text-overflow: ellipsis;
    text-shadow: 2px 2px 4px black;
    }
.contents-table-mobile a {
    color: whitesmoke;
    text-decoration: none;
    font-size: clamp(0.75rem, 3vw, 1.33rem);
    text-shadow: 2px 2px 4px black;
}
.contents-table-mobile a:hover {
    font-size: clamp(0.85rem, 3.5vw, 1.4rem);
}
.contents-table-mobile span {
    visibility: visible;
    background: linear-gradient(#589edb, #e591de);
    border-radius: 0.5rem;
    position: fixed;
    z-index: 0;
    top: 37.8%;
    left: 20%;
    right: 17%;
    margin: 15px;
    height: 5%;
    width: auto;
    font-size: clamp(0.75rem, 5vw, 1.33rem);
    color: whitesmoke;
    box-sizing: border-box; 
    overflow: hidden;
}
.contents-table-mobile span p {
    z-index: 1;
    background: none;
    position: relative; 
    margin-top: 0;
    top: 0;
    left: 0; 
    text-align: center; 
    line-height: 1.5;
    text-shadow: 2px 2px 4px black;
}

/*Desktop Styles*/
@media (min-width: 769px) {
    
    .contents-table,
    .contents-table-mobile {
        visibility: visible;
		background: linear-gradient( #91eafa, #a1dee9, #589edb);
        border-radius: 0.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
		position: fixed;
		z-index: 1;
        margin: 0;
        top: 38.25%;
        left: 0%;
		width: 13.72vw;
        max-width: 13.72vw;
		height: 61vh;
		max-height: 61vh;
		flex-direction: column;
		direction: rtl;
        text-align: left;
        overflow: scroll;
        font-family: Verdana, sans-serif, system-ui;
        
    }

    .contents-table ul,
    .contents-table-mobile ul {
        background: none;
        position: relative;
        padding-left: 10.5%;
        left: 0%;
        top: 0%;
        max-height: 61vh;
        list-style-type: none;
        direction: ltr;
    }
    .contents-table li,
    .contents-table-mobile li {
        padding-bottom: 4%;
        white-space: nowrap;
		overflow: hidden;
        color: whitesmoke;
		text-overflow: ellipsis;
        text-shadow: 2px 2px 4px black;
    }
    .contents-table a,
    .contents-table-mobile a {
        color: whitesmoke;
        text-decoration: none;
        font-size: clamp(0.75rem, 1vw, 1rem);
        text-shadow: 2px 2px 4px black;
    }
    .contents-table a:hover,
    .contents-table-mobile a:hover {
        font-size: clamp(0.75rem, 1.1vw, 1.1rem);
    }

    .contents-table span,
    .contents-table-mobile span {
		visibility: visible;
        display: flex;
        align-items: center;
        justify-content: left;
    	background: linear-gradient(#589edb, #e591de);
    	border-radius: 0.5rem;
    	position: fixed;
    	z-index: 0;
    	top: 33.5%;
    	margin: 0;
    	left: -0.2%;
    	width: 13.9vw;
    	height: 4.25%;
    	font-size: clamp(0.8rem, 3vw, 1.33rem);
    	color: whitesmoke;
    	box-sizing: border-box; 
        overflow: hidden;
	}
	.contents-table span p,
    .contents-table-mobile span p {
        z-index: 1;
		background: none;
		position: relative; 
		margin-top: 15;
    	left: 5%; 
    	text-align: left; 
    	line-height: 1.5;
		text-shadow: 2px 2px 4px black;
	}
}
