.bg-block {
    display: block;
    background-color: whitesmoke;
    border-radius: 2rem;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 15px;
    height: 85vh;
    width: 95vw;
}
.bg-smap-block {
    display: block;
    background: linear-gradient( #91eafa, #a1dee9, #589edb);
    border-radius: 0.5rem;
    position: fixed;
    z-index: 3;
    top: 8%;
    left: 20vw;
    right: 17vw;
    margin: 15px;
    width: auto;
    height: 28vh;
}
.bg-darken {
    display: block;
    background-color: rgba(16, 16, 17, 0.8);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
@media (min-width: 769px) {
    .bg-block {
        visibility: hidden;
    }
    .bg-para-block {
        visibility: hidden;
    }
    .bg-smap-block {
        visibility: hidden;
    }
    .bg-darken {
        visibility: hidden;
    }
}