---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout>
<p>Page content (text and html) goes here. Page content (text and html) goes here. Page content (text and html) goes here. Page content (text and html) goes here. Page content (text and html) goes here</p>
</DefaultLayout>