
<div class="left-blue"></div>
<div class="left-pink"></div>
<div class="center-white"></div>
<div class="right-pink"></div>
<div class="right-blue"></div>

<style>
  .left-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
	left: 0;
	width: 12vw;
	height: 1000vh;
  }
  .left-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 12vw;
    width: 4vw;
    height: 1000vh;
  }
  .center-white {
    background-color: whitesmoke;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 16vw;
    width: 76vw;
    height: 1000vh;
  }
  .right-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 92vw;
    width: 4vw;
    height: 100vh;
  }
  .right-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 96vw;
    width: 4vw;
    height: 100vh;
  }
  /* Make the bars go horizontal on mobile */
  /* left will be skinny on top and right will be thick on bottom */
  @media (max-width: 768px) {
    
    .left-blue {
        top: 0;
        left: 0;
        width: 100vw;
        height: 30vh;
    }
    .left-pink {
        top: 30vh;
        left: 0;
        width: 100vw;
        height: 2vh;
    }
    .center-white {
        top: 32vh;
        left: 0;
        width: 100vw;
        height: 64vh;
    }
    .right-pink {
        top: 96vh;
        left: 0;
        width: 100vw;
        height: 2vh;
    }
    .right-blue {
      top: 98vh;
      left: 0;
      width: 100vw;
      height: 2vh;
    }
  }

</style>