
<div class="left-blue"></div>
<div class="left-pink"></div>
<div class="center-white"></div>
<div class="right-pink"></div>
<div class="right-blue"></div>

<style>
  .left-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
	left: 0;
	width: 12vw;
	height: 1000vh;
  }
  .left-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 12vw;
    width: 4vw;
    height: 1000vh;
  }
  .center-white {
    background-color: whitesmoke;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 16vw;
    width: 76vw;
    height: 1000vh;
  }
  .right-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 92vw;
    width: 4vw;
    height: 1000vw;
  }
  .right-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 96vw;
    width: 4vw;
    height: 1000vw;
  }

  @media (max-width: 768px) {
    .left-blue,
    .left-pink,
    .center-white,
    .right-pink,
    .right-blue {
      background-color: red;
    }
  }

</style>