<div class="left-blue"></div>
<div class="left-pink"></div>
<div class="center-white"></div>
<div class="right-pink"></div>
<div class="right-blue"></div>
<div class="horz-dark-blue"></div>

<style>

  /* Bars for desktop */
  .left-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
	  left: 0;
	  width: 12vw;
	  height: 100vh;
  }
  .left-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 12vw;
    width: 4vw;
    height: 100vh;
  }
  .center-white {
    background-color: whitesmoke;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .right-pink {
    background-color: pink;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 92vw;
    width: 4vw;
    height: 100vh;
  }
  .right-blue {
    background-color: lightskyblue;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 96vw;
    width: 4vw;
    height: 100vh;
  }

  .horz-dark-blue {
    background-color: rgb(88, 158, 219);
    border-radius: 0.5rem;
    position: fixed;
    z-index: 1;
    top: 33vh;
    left: 0.5vh;
    width: 11.5vw;
    height: 0.6rem;
  }
  
  /* Bars for mobile */
  @media (max-width: 768px) {
    /* Arranged top to bottom*/
    .left-blue {
        top: 0;
        left: 0;
        width: 100vw;
        height: 4vh;
    }
    .left-pink {
        top: 4vh;
        left: 0;
        width: 100vw;
        height: 4vh;
    }
    .right-pink {
        top: 96vh;
        left: 0;
        width: 100vw;
        height: 2vh;
    }
    .right-blue {
      top: 98vh;
      left: 0;
      width: 100vw;
      height: 2vh;
    }
    .horz-dark-blue {
      visibility: hidden;
    }
  }

</style>