<div>
    &nbsp;
    <hr/>
    &nbsp;
</div>

<div class="footer-container">
    <div class="entry-container">
        <p>Contact</p>
        <div class="img-link-pair-container">
            <img src="../icons/email.svg" alt="email"/>
            <a href="mailto:transgenderwiki@protonmail.com">
                transgenderwiki@protonmail.com
            </a>
        </div>
    </div>
    <div class="entry-container">
        <p>Source</p>
        <div class="img-link-pair-container">
            <img src="../icons/github/github-mark.svg" alt="github"/>
            <a href="https://github.com/Transgender-Resource-Wiki/Transgender-Resource-Wiki.github.io">
                TRL on Github
            </a>
        </div>
    </div>
</div>

<style>
.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
@media (min-width:769px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.entry-container {
    margin: 0.5rem;
    width: auto;
}

.img-link-pair-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.img-link-pair-container a {
    position: relative;
    color: blueviolet;
    z-index: 1;
}
.img-link-pair-container img {
    display: inline;
    vertical-align: middle;
    margin-top: -0.5%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    object-fit: contain;
    max-height: 2rem;
    max-width: 4rem;
}

</style>