---
interface Props {
	link: string[][];
}

const { link } = Astro.props;
---
<div id="site-map-p" class="paragraph">
	<p>Site Map</p>
</div>
<div id="site-map-div" class="scroll-area">
	
	<ul id="site-map-ul" class="link-list">
		<!-- Link holds arrays of links and link names -->
		<!-- each array that it holds should have exactly two elements in it -->
		{link.map((link) => (link.length == 2 &&
		<li><a href={link[1]}>{link[0]}</a></li>
		))}
	</ul>
</div>

<style>
	/*Mobile classes, regular is hidden and mobile is shown in menu*/ 
	.scroll-area,
	.paragraph,
	.link-list {
		visibility: hidden;
		position: fixed;
		z-index: -3;
		width: 0;
		height: 0;
	}

	.scroll-area-mobile {
		visibility: visible;
		background-color: none;
		position: fixed;
		z-index: 3;
		margin: 15px;
		text-align: center;
		top: 8%;
		left: 20%;
    	right: 17%;
		width: auto;
		height: auto;
		max-height: 28vh;
		overflow-y: scroll;
		flex-direction: column;
		direction: ltr;
	}
	.paragraph-mobile {
		visibility: visible;
    	background: linear-gradient(#589edb, #e591de);
		position: fixed;
		z-index: 3;
		border-radius: 0.5rem;
    	box-sizing: border-box; 
		margin: 15px;
		top: 2.3%;
		height: 5%;
		left: 20%;
    	right: 17%;
		width: auto;
		overflow: hidden;
		font-size: clamp(0.8rem, 4.5vw, 1.33rem);
		color: whitesmoke;
		font-family: Verdana, sans-serif, system-ui;
	}
	.paragraph-mobile p {
		background: none;
		position: relative; 
    	text-align: center; 
		vertical-align: middle;
		margin: 0;
		top: 0.3rem;
		text-shadow: 2px 2px 4px black;
	}
	.link-list-mobile {
		visibility: visible;
		width: auto;
		height: auto;
		padding-left: 0;
		text-align: center;
		font-size: clamp(0.75rem, 3vw, 1.25rem);
		color: whitesmoke;
		font-family: Verdana, sans-serif, system-ui;
		list-style-type: none;
	}
	.link-list li,
	.link-list-mobile li {
		padding-bottom: 4%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-shadow: 2px 2px 4px black;
		direction: ltr;
	}
	.link-list-mobile a {
		color: whitesmoke;
		text-decoration: none;
		text-shadow: 2px 2px 4px black;
	}
	.link-list-mobile a:hover {
			font-size: clamp(0.75rem, 3.5vw, 1.33rem);
	}

	/* Desktop */ 
	@media (min-width: 769px) {
		.scroll-area,
		.scroll-area-mobile {
		  	visibility: visible;
		  	background-color: none;
		  	position: fixed;
		  	z-index: 3;
		  	text-align: left;
		  	top: 5%;
		  	left: 0;
		  	width: auto;
			max-width: 14%;
		  	height: auto;
		  	max-height: 28%;
		  	overflow-y: scroll;
			overflow-x: hidden;
		  	flex-direction: column;
			margin: 0;
			direction: rtl;
		}    
		.paragraph,
		.paragraph-mobile {
			visibility: visible;
			display: flex;
			align-items: center;
    		background: linear-gradient(#589edb, #e591de);
    		border-radius: 0.5rem;
    		position: fixed;
    		z-index: 0;
    		top: 0.2%;
    		margin: 0;
    		left: -0.2%;
    		width: 13.9vw;
    		height: 4.25%;
    		font-size: clamp(0.8rem, 4vw, 1.33rem);
    		color: whitesmoke;
    		font-family: Verdana, sans-serif, system-ui;
    		box-sizing: border-box; 
		}
		.paragraph p,
		.paragraph-mobile p {
			background: none;
			position: relative; 
			margin-top: 15;
    		left: 5%; 
    		text-align: left; 
    		line-height: 1.5;
			text-shadow: 2px 2px 4px black;
		}
		.link-list,
		.link-list-mobile {
		  	visibility: visible;
			position: relative;
		  	width: 13vw;
		  	height: auto;
		  	padding-left: 1.2vw;
		  	font-size: clamp(0.75rem, 1vw, 1rem);
		  	color: whitesmoke;
		  	font-family: Verdana, sans-serif, system-ui;
		  	list-style-type: none;
			text-align: left;
		}
		.link-list a,
		.link-list-mobile a {
			color: whitesmoke;
			text-decoration: none;
			text-shadow: 2px 2px 4px black;
		}
		.link-list a:hover,
		.link-list-mobile a:hover {
			font-size: clamp(0.8rem, 1.1vw, 1.1rem);
		}
	}
</style>
