---
interface Props {
	link: string[][];
}

const { link } = Astro.props;
---
<p id="site-map-p" class="paragraph">Site Map</p>
<div id="site-map-div" class="scroll-area">
	
	<ul id="site-map-ul" class="link-list">
		<!-- Link holds arrays of links and link names -->
		<!-- each array that it holds should have exactly two elements in it -->
		{link.map((link) => (link.length == 2 &&
		<li><a href={link[1]}>{link[0]}</a></li>
		))}
	</ul>
</div>

<style>
	/*Mobile classes, regular is hidden and mobile is shown in menu*/ 
	.scroll-area {
		visibility: hidden;
		position: fixed;
		z-index: -3;
		width: 0;
		height: 0;
	}
	.paragraph {
		visibility: hidden;
		position: fixed;
		width: 0;
		height: 0;
	}
	.link-list {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.scroll-area-mobile {
		visibility: visible;
		background-color: none;
		background-image: none;
		position: fixed;
		z-index: 3;
		margin: 15px;
		text-align: center;
		top: 8%;
		left: 0;
		width: 95vw;
		height: auto;
		max-height: 28vh;
		overflow-y: scroll;
		flex-direction: column;
	}
	.paragraph-mobile {
		position: fixed;
		z-index: 3;
		visibility: visible;
		position: fixed;
		top: 2vh;
		text-align: center;
		width: 95vw;
		height: auto;
		padding-left: 0;
		font-size: 1.33rem;
		color: whitesmoke;
		font-family: Verdana, sans-serif, system-ui;
		
	}
	.link-list-mobile {
		visibility: visible;
		width: auto;
		height: auto;
		padding-left: 3.5vw;
		text-align: center;
		font-size: 1.25rem;
		color: whitesmoke;
		font-family: Verdana, sans-serif, system-ui;
		list-style-type: none;
	}

	
	.link-list-mobile a {
		color: whitesmoke;
		text-decoration: none;
		text-shadow: 2px 2px 4px black;
	}
	.link-list-mobile a:hover {
			font-size: 1.33rem;
	}

	/* Desktop */ 
	@media (min-width: 769px) {
		.scroll-area {
		  	visibility: visible;
		  	background-color: none;
		  	background-image: none;
		  	position: fixed;
		  	z-index: 3;
		  	text-align: left;
		  	top: 5%;
		  	left: 0;
		  	width: 12vw;
		  	height: auto;
		  	max-height: 28%;
		  	overflow-y: scroll;
		  	flex-direction: column;
			direction: rtl;
		}  
		.scroll-area-mobile {
		  	visibility: visible;
		  	background-color: none;
		  	background-image: none;
		  	position: fixed;
		  	z-index: 3;
		  	text-align: left;
		  	top: 5%;
		  	left: 0;
		  	width: 12vw;
		  	height: auto;
		  	max-height: 28%;
		  	overflow-y: scroll;
		  	flex-direction: column;
		  	margin: 0;
			direction: rtl;
		}   
		.paragraph {
		  	visibility: visible;
		  	position: fixed;
		  	top: 0.2%;
		  	left: 0;
		  	width: 9%;
		  	height: auto;
		  	padding-left: 0.5vw;
		  	margin-top: 0.4%;
		  	font-size: 1.33rem;
		  	color: whitesmoke;
		  	font-family: Verdana, sans-serif, system-ui;
		}
		.paragraph-mobile {
		  	visibility: visible;
		  	position: fixed;
		  	top: 0.2vh;
		  	left: 0;
		  	width: auto;
		  	height: auto;
		  	padding-left: 0.5vw;
		  	margin-top: 1vh;
		  	font-size: 1.33rem;
		  	color: whitesmoke;
		  	font-family: Verdana, sans-serif, system-ui;
		}
		.link-list {
		  	visibility: visible;
		  	width: auto;
		  	height: auto;
		  	padding-left: 1.2vw;
		  	font-size: 1.25rem;
		  	color: whitesmoke;
		  	font-family: Verdana, sans-serif, system-ui;
		  	list-style-type: none;
		}
		.link-list-mobile {
		  	visibility: visible;
		  	width: auto;
		  	height: auto;
		  	padding-left: 1.2vw;
		  	font-size: 1.25rem;
		  	color: whitesmoke;
		  	font-family: Verdana, sans-serif, system-ui;
		  	list-style-type: none;
		}

		.link-list a,
		.link-list-mobile a {
			color: whitesmoke;
			text-decoration: none;
			text-shadow: 2px 2px 4px black;
		}
		.link-list a:hover,
		.link-list-mobile a:hover {
			font-size: 1.33rem;
		}
	}

	
</style>
