---
interface Props {
	name: string;
}

const { name } = Astro.props;
---

<div class="scroll-area">
	<p>{name}</p>
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
		<li>7</li>
		<li>8</li>
		<li>9</li>
		<li>10</li>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
		<li>7</li>
		<li>8</li>
		<li>9</li>
		<li>10</li>
	</ul>
</div>
<style>
	.scroll-area {
		background-color: none;
		background-image: none;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 12vw;
		max-height: 33vh;
		overflow-y: scroll;
		flex-direction: column;
		
	}      
	p {
		padding-left: 3vh;
		font-size: 1.33rem;
		color: white;
		font-family: Verdana, sans-serif, system-ui;
	}
	ul {
		font-size: 1.25rem;
		color: white;
		font-family: Verdana, sans-serif, system-ui;
		list-style-type: none;
	}
	
</style>
