---
const {title} = Astro.props
const links = [["Home", "/"],
["About1", "/about"], ["About2", "/about"], ["About3", "/about"],
["About4", "/about"], ["About5", "/about"], ["About6", "/about"],
["About7", "/about"], ["About8", "/about"], ["About9", "/about"],
["About0", "/about"], ["About1", "/about"], ["About2", "/about"]];
import SiteNav from "../scripts/SiteNav"
import SiteMap from "../components/SiteMap.astro"
import ColoredSideBars from "../components/ColoredSideBars.astro"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Transgender Resource Library"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title} &#8226; Transgender Resource Library</title>
  </head>
  <body>
    <main>
        <SiteNav client:load/>
        <ColoredSideBars />
        <SiteMap link={links} />
        <slot />
    </main>
  </body>
</html>

<style>
   body {
      margin-left: 4vw;
      margin-right: 4vw;
      margin-top: 10vh;
      margin-bottom: 6vh;
  }
  
  @media (min-width: 769px) {
    body {
      display: flex;
      margin-left: 18vw;
      margin-right: 10vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  }
  </style>