---
const {title} = Astro.props
import Hamburger from "../scripts/Hamburger"
import SiteMap from "../components/SiteMap.astro"
import ColoredSideBars from "../components/ColoredSideBars.astro"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Transgender Resource Library"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title} &#8226; Transgender Resource Library</title>
  </head>
  <body>
    <main>
        <Hamburger client:load/>
        <ColoredSideBars />
        <SiteMap name="Site Map" />
        <slot />
    </main>
  </body>
</html>

<style>
  body {
      display: flex;
      margin-left: 18vw;
      margin-right: 10vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
  }
  @media (max-width: 768px) {
    body {
      margin-left: 4vw;
      margin-right: 4vw;
      margin-top: 12vh;
      margin-bottom: 6vh;
    }
  }
  </style>