---
const {frontmatter} = Astro.props;

const links = [["Home", "/"],
["Am I Trans?", "/amitrans"], ["Social Transitioning", "/social-transitioning"],
["Medical Transitioning", "/about"], ["Traveling", "/traveling"],
["Media & Other Resources", "/about"], ["About", "/"], ["About", "/"], ["About", "/"], ["About", "/"]];
import SiteNav from "../scripts/SiteNav"
import SiteMap from "../components/SiteMap.astro"
import Footer from '../components/Footer.astro';
import '../styles/ContentsTable.css';
import '../styles/DescribedLink.css';
import '../styles/Tooltip.css';
import '../styles/Button.css';
import '../styles/ScrollPanes.css';
import '../styles/CommonStyles.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Transgender Resource Library"/>
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} &#8226; Transgender Resource Library</title>
  </head>
  <body>
    <main>
        <SiteNav client:load/>
        <SiteMap link={links} />
        <slot />
        <Footer />
    </main>
  </body>
</html>

<style>
   body {
      margin-left: 4vw;
      margin-right: 4vw;
      margin-top: 10vh;
      margin-bottom: 6vh;
      color: rgb(68, 68, 70);
      display: block;
      font-size: large;
      font-family: Verdana, sans-serif, system-ui;
  }

  @media (min-width: 769px) {
    body {
      display: block;
      margin-left: 28vw;
      margin-right: 18vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  }
  </style>